.input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.emailInputWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.checkButton {
  padding: 8px 12px;
  background: var(--subMain);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.error {
  color: #ff4d4f;
  font-size: 12px;
  font-weight: bold;
}

.success {
  color: #007bff;
  font-size: 12px;
  font-weight: bold;
}
